html,
body {

  width: 100%;
  height: 100vh;
}

:root {

  --ButtonColor: rgb(64, 64, 64);
  --DisplayColor: rgb(230, 230, 230);
  --ButtonHover: rgb(63, 63, 63);
}
* {

  padding: 0;
  margin: 0;

  font-family: 'Roboto';
  font-weight: 100;
  color: white;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  outline: none;
  border: 0;
}

.calc_display {

  width: 100%;
  height: 40%;
  background-color: var(--DisplayColor);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  position: relative;

  padding-right: 60px;
}

.calc_display :nth-child(1) {

  font-size: 1.2rem;
  color: black;
}

.calc_display :nth-child(2) {

  font-size: 2.9rem;
  color: black;
  font-weight: 300;
}

.calc_keys .disabled {

  background-color: rgba(255, 0, 0, 0.04);
}

.calc_keys .disabled:hover {

  background: rgba(255, 0, 0, 0.04);
}

.calc_keys {

  width: 100%;
  height: 60%;
  display: grid;

  background: linear-gradient(45deg, rgb(17, 17, 17), rgb(63, 60, 60));
}

.calc_keys table {

  width: 100%;
  height: 100%;
}

.calc_keys td {

  width: 180px;
  transition: 0.9s cubic-bezier(0.215, 0.610, 0.355, 1);

  text-align: center;
  font-size: 1.3rem;

  border-radius: 5px;
}

.calc_keys td:hover {

  background: linear-gradient(45deg, rgb(28, 26, 131), rgb(50, 48, 184));
  /* transform: scale(1.1); */
}


.space_button {

  opacity: 0;
}

#calc-equal, .clear-enable {

  background: linear-gradient(45deg, rgb(28, 26, 131), rgb(50, 48, 184))
}